node_modules/

/config/master.key

/public/assets

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep


/.env*
!/.env*.erb

/.bundle